@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* AQUI É A MÁGICA DO TAILWIND v4 */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* Mudei aqui de var(--font-geist-sans) para var(--font-grift) */
  --font-sans: var(--font-grift); 
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Mudei aqui para usar a variável da Grift */
  font-family: var(--font-grift), Arial, Helvetica, sans-serif;
}